// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');
// End Fonts

@import 'reset';
@import 'base';
@import 'paletter';
@import 'components/index';

.container {
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "card-one card-two"
                         "card-three card-for"
                         "card-five card-five";
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    section{
        width: 570px;
        height: 150px;
        border: 1px solid $color-1;
        border-radius: 10px;
        padding: 42px 48px 42px 49px;
        position: relative;

        &::before {
            font-family: 'FontAwesome';
            font-weight: 400;
            font-size: 24px;
            text-align: center;
            line-height: 50px;
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        &::after {
            content: '\f00d';
            font-family: 'FontAwesome';
            font-weight: 400;
            font-size: 15px;
            color: #CFD2D3;
            cursor: pointer;
            position: absolute;
            right: 17px;
            top: 16px;

        }
    }
}

